<p>
  <strong>name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>phone_no:</strong>
  <%= @company.phone_no %>
</p>
 
<p>
  <strong>gst:</strong>
  <%= @company.gst %>
</p> 

<p>
  <strong>cin:</strong>
  <%= @company.cin %>
</p>
 
<p>
  <strong>pan:</strong>
  <%= @company.pan %>
</p>

<%= link_to 'Back', companies_path %>